<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <style type="text/css">
body {
    background: #CDCDCD;
    font-family: Calibri;
    font-size: 80%;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}
div.movie {
    clear:both;
    margin: 0 0 10px 0;
    padding: 0;
    background: #FFF;
    width: 590px;
    height: 206px;
    overflow: auto;
}
div.photo {
    float: left;
    margin: 0;
    padding: 0;
    width: 138px;
    height: 203px;
}
div.content {
    margin: 0 0 0 142px;
    padding: 2px 2px 2px 2px;
    width: 440px;
}
div.header {
    margin: 0 0 4px 0;
    padding: 0;
    font-size: 125%;
    font-weight: bold;
    vertical-align: top;
}
div.header img {
    width: 18px;
    height: 12px;
}
div.epid {
    float: left;
    margin: 0;
    padding: 0;
    width: 30px;
    color: #909090;
}
div.title {
	margin: 0;
    padding: 0;
    color: #366D9C;
}
div.overview {
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    margin: 0 0 4px 0;
    padding: 2px 0 2px 0;
	height: 154px;
    font-size: 100%;
	overflow: auto;
}
div.overview p {
    margin: 4px 0 4px 0;
    padding: 0;
    font-size: 85%;
    color: #606060;
}
div.footer {
    margin: 0;
    padding: 0;
    font-size: 90%;
}
a {
    font-weight: bold;
    color: #366D9C;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline;
}
li:after {
    content: ",";
}
li:last-child:after {
    content: "";
}
p {
    padding: 0;
    margin: 2px 0 2px 0;
}
div.clear {
    clearing: both;
}
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Movies</title>
    </head>
    <body>
	    <div id="main">
			{% for entry in task.accepted|sort(attribute='imdb_name') %}
			{% if entry.imdb_url is defined %}
			<div class="movie">
				<div class="photo">
                    {% if entry.imdb_photo  %}
                    <img src="{{ entry.imdb_photo }}" width="138" height="203">
                    {% elif entry.tmdb_posters is defined and entry.tmdb_posters is iterable %}
                    <img src="{{ entry.tmdb_posters[0] }}" width="138" height="203">
                    {% else %}
                    <img src="http://slurm.trakt.us/images/banner.jpg" width="138" height="203">
                    {% endif %}
                </div>
	            <div class="content">
	                <div class="header">
						<div class="title">
							{{ entry.imdb_name }}
							&nbsp;
							{% if entry.subtitles is defined and entry.subtitles is iterable %}
							{% if 'ita' in entry.subtitles %}
							<img src="http://www.geonames.org/flags/x/it.gif" />
							{% endif %}
							{% if 'eng' in entry.subtitles %}
							<img src="http://www.geonames.org/flags/x/gb.gif" />
							{% endif %}
							{% if 'und' in entry.subtitles %}
							<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/320px-Flag_of_Europe.svg.png" />
							{% endif %}
							{% endif %}
						</div>
	                </div>
	                <div class="overview">
						{% if entry.imdb_genres is defined and entry.imdb_genres is iterable %}
						<p>{{ entry.imdb_genres|join(', ') }}</p>
						{% endif %}
						{% if entry.rt_synopsis is defined and entry.rt_synopsis != '' %}
                        {{ entry.rt_synopsis }}
                        {% elif entry.imdb_plot_outline is defined %}
                        {{ entry.imdb_plot_outline }}
                        {% else %}
                        Plot unknown.
                        {% endif %}
						{% if entry.rt_actors is defined and entry.rt_actors is iterable %}
						<p>{{ entry.rt_actors|join(', ') }}</p>
						{% elif entry.imdb_actors is defined and entry.imdb_actors is iterable %}
						<p>{{ entry.imdb_actors.values()|join(', ') }}</p>
						{% endif %}
	                </div>
	                <div class="footer">
						<b>{{ entry.imdb_year }}</b>&nbsp;&nbsp;&nbsp;<a href="{{ entry.imdb_url }}" target="_blank">IMDB</a>
						&nbsp;
						<a href="http://www.themoviedb.org/search?query={{ entry.imdb_id }}" target="_blank">The Movie DB</a>
						{% if entry.rt_url is defined %}
						&nbsp;
						<a href="{{ entry.rt_url }}" target="_blank">Rotten Tomatoes</a>
						{% endif %}
						&nbsp;
						<a href="http://trakt.tv/search?q={{ entry.imdb_id }}" target="_blank">Trakt.TV</a>
	                </div>
	            </div>
	        </div>
	        {% endif %}
	        {% endfor %}
	    </div>
    </body>
</html>