<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <style type="text/css">
body {
    background: #CDCDCD;
    font-family: Calibri;
    font-size: 80%;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}
div#main {
    margin:0px 0px 0px 0px;
}
div.movie {
    border-bottom: 8px solid #CDCDCD;
    padding: 0.5em;
    background: #FFF;
    min-height: 337px;
    overflow: auto;
}
div.movie h1 {
    margin: 0;
    font-size: 170%;
}
div.photo {
    height: 329px;
    width: 214px;
    float: right;
    background: #fff;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
div.content {
}
div.header {
}
div.title {
	vertical-align: top;
}
div.title img {
	width: 18px;
	height: 12px;
}
div.subtitle {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    color: #366D9C;
}
div.subtitle img {
	width: 10px;
	height: 11px;
}
div.overview {
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 115%;
}
div.actors {
    padding-top: 0.5em;
    font-size: 90%;
}
a {
    color: #366D9C;
}
a:link {
    text-decoration: none;
}
a:hover {
    color: #f00;
}
ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline;
}
li:after {
    content: ",";
}
li:last-child:after {
    content: "";
}
div.clear {
    clearing: both;
}
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Movies</title>
    </head>
    <body>
	    <div id="main">
			{% for entry in task.accepted %}
			{% if entry.imdb_url is defined %}
			<div class="movie">
				{% if entry.imdb_photo is defined %}
	        	<div class="photo">
	                <img src="{{ entry.imdb_photo }}">
	        	</div>
				{% endif %}
	            <div class="content">
	                <div class="header">
	                    <div class="title">
	                        <h1>
	                        	{{ entry.imdb_name }}
	                        	&nbsp;
	                        	{% if entry.subtitles is defined and entry.subtitles is iterable %}
	                        	{% if 'ita' in entry.subtitles %}
	                        	<img src="http://www.geonames.org/flags/x/it.gif" />
	                        	{% endif %}
	                        	{% if 'eng' in entry.subtitles %}
	                        	<img src="http://www.geonames.org/flags/x/gb.gif" />
	                        	{% endif %}
	                        	{% if 'und' in entry.subtitles %}
	                        	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/320px-Flag_of_Europe.svg.png" />
	                        	{% endif %}
	                        	{% endif %}
	                        </h1>
	                	</div>
                        <div class="subtitle">
	                        {{ entry.imdb_year }}
                            &nbsp;
                            <a href="{{ entry.imdb_url }}" target="_blank">
	                        	<img src="http://www.google.com/s2/favicons?domain=imdb.com" alt="IMDB" />
	                        </a>
                            <a href="http://www.themoviedb.org/search?query={{ entry.imdb_id }}" target="_blank">
                            	<img src="http://www.google.com/s2/favicons?domain=themoviedb.org" alt="TMDB" />
                            </a>
	                        <a href="http://trakt.tv/search/imdb?q={{ entry.imdb_id }}" target="_blank">
	                        	<img src="http://www.google.com/s2/favicons?domain=trakt.tv" alt="Trakt" />
	                        </a>
                            {% if entry.imdb_genres is defined and entry.imdb_genres is iterable %}
                            <br/>
                            <ul>
                                {% for genre in entry.imdb_genres %}
                                <li>{{ genre }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
	                </div>
					{% if entry.imdb_plot_outline is defined %}
	                <div class="overview">
	                    {{ entry.imdb_plot_outline }}
	                </div>
	                {% endif %}
					{% if entry.imdb_actors is defined and entry.imdb_actors is iterable %}
	                <div class="actors">
	                    <ul>
							{% for imdbid, actor in entry.imdb_actors.items() %}
	                        <li><a href="http://www.imdb.com/name/{{ imdbid }}">{{ actor }}</a></li>
	                        {% endfor %}
	                    </ul>
	                </div>
	                {% endif %}
	            </div>
	        </div>
	        {% endif %}
	        {% endfor %}
	    </div>
    </body>
</html>