<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <style type="text/css">
body {
    background: #CDCDCD;
    font-family: Calibri;
    font-size: 80%;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}
div.movie {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1em;
    background: #FFF;
    width: 758px;
    overflow: auto;
}
div.photo {
    margin: 0;
    width: 758px;
    height: 140px;
}
div.content {
    margin: 0;
    padding: 0.5em;
}
div.header {
    margin: 0;
    padding: 0;
    font-size: 85%;
    vertical-align: top;
}
div.header h1 {
    margin: 0;
    padding: 0;
    color: #366D9C;
    font-size: 170%;
}
div.header img {
    width: 18px;
    height: 12px;
}
div.title {
    margin: 0;
    padding: 0;
    min-height: 40px;
}
div.title img {
    width: 18px;
    height: 12px;
}
div.subtitle {
    float: right;
    font-size: 1em;
    text-align: right;
}
div.overview {
    clear:both;
    border-top: 1px solid #CDCDCD;
    margin: 0;
    padding-top: 0.5em;
    font-size: 115%;
}
a {
    font-weight: bold;
    color: #366D9C;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline;
}
li:after {
    content: ",";
}
li:last-child:after {
    content: "";
}
p {
    padding: 0;
    margin: 2px 0 2px 0;
}
div.clear {
    clearing: both;
}
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Series</title>
    </head>
    <body>
	    <div id="main">
			{% for entry in task.accepted %}
			{% if entry.imdb_url is defined %}
			<div class="movie">
				<div class="photo">
                    {% if entry.tvdb_banner_url  %}
                    <img src="{{ entry.tvdb_banner_url }}">
                    {% elif entry.trakt_series_banner_url is defined %}
                    <img src="{{ entry.trakt_series_banner_url }}">
                    {% else %}
                    <img src="http://slurm.trakt.us/images/banner.jpg">
                    {% endif %}
                </div>
	            <div class="content">
	                <div class="header">
                        <div class="subtitle">
                            <h1>
                                {{ entry.series_id }}
                            </h1>
                            <p>
                            <a href="{{ entry.imdb_url }}" target="_blank">IMDB</a>
                            {% if entry.tvdb_id is defined %}
                            &nbsp;
                            <a href="http://thetvdb.com/?tab=series&id={{ entry.tvdb_id }}" target="_blank">TVDB</a>
                            {% endif %}
                            {% if entry.trakt_series_tvrage_id is defined %}
                            &nbsp;
                            <a href="http://www.tvrage.com/shows/id-{{ entry.trakt_series_tvrage_id }}" target="_blank">TVRage</a>
                            {% endif %}
                            {% if entry.trakt_series_url is defined %}
                            &nbsp;
                            {% if entry.trakt_season is defined and entry.trakt_episode is defined %}
                            <a href="{{ entry.trakt_series_url }}/season/{{ entry.trakt_season }}/episode/{{ entry.trakt_episode }}" target="_blank">Trakt</a>
                            {% else %}
                            <a href="{{ entry.trakt_series_url }}" target="_blank">Trakt</a>
                            {% endif %}
                            {% endif %}
                            </p>
                        </div>
                        <div class="title">
                            <h1>
                                {% if entry.tvdb_ep_name is defined %}
                                {{ entry.tvdb_ep_name }}
                                {% elif entry.trakt_ep_name is defined %}
                                {{ entry.trakt_ep_name }}
                                {% else %}
                                Title unknown.
                                {% endif %}
                                &nbsp;
                                {% if entry.subtitles is defined and entry.subtitles is iterable %}
                                {% if 'ita' in entry.subtitles %}
                                <img src="http://www.geonames.org/flags/x/it.gif" />
                                {% endif %}
                                {% if 'eng' in entry.subtitles %}
                                <img src="http://www.geonames.org/flags/x/gb.gif" />
                                {% endif %}
                                {% if 'und' in entry.subtitles %}
                                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/320px-Flag_of_Europe.svg.png" />
                                {% endif %}
                                {% endif %}
                            </h1>
                            {% if entry.tvdb_ep_writers is defined and entry.tvdb_ep_writers is iterable %}
                            <p>Written by {{ entry.tvdb_ep_writers|join(', ') }}</p>
                            {% endif %}
                            {% if entry.tvdb_ep_guest_stars is defined and entry.tvdb_ep_guest_stars is iterable %}
                            <p>Guest star(s): {{ entry.tvdb_ep_guest_stars|join(', ') }}</p>
                            {% endif %}
                        </div>
	                </div>
	                <div class="overview">
                        {% if entry.tvdb_ep_overview is defined %}
                        {{ entry.tvdb_ep_overview }}
                        {% elif entry.trakt_ep_overview is defined %}
                        {{ entry.trakt_ep_overview }}
                        {% else %}
                        Plot unknown.
                        {% endif %}
	                </div>
	            </div>
	        </div>
	        {% endif %}
	        {% endfor %}
	    </div>
    </body>
</html>