<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <style type="text/css">
body {
    background: #CDCDCD;
    font-family: Calibri;
    font-size: 80%;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}
div.movie {
    clear:both;
    margin: 0 0 10px 0;
    padding: 0;
    background: #FFF;
    width: 590px;
    height: 206px;
    overflow: auto;
}
div.photo {
    float: left;
    margin: 0;
    padding: 0;
    width: 138px;
    height: 203px;
}
div.content {
    margin: 0 0 0 142px;
    padding: 2px 2px 2px 2px;
    width: 440px;
}
div.header {
    margin: 0 0 2px 0;
    padding: 0;
    height: 36px;
    font-size: 125%;
    font-weight: bold;
    vertical-align: top;
}
div.header img {
    width: 18px;
    height: 12px;
}
div.epid {
    float: left;
    margin: 0;
    padding: 0;
    width: 30px;
    color: #909090;
}
div.title {
    margin: 0 0 0 30px;
    padding: 0;
    color: #366D9C;
}
div.overview {
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    margin: 0 0 4px 0;
    padding: 2px 0 2px 0;
	height: 140px;
    font-size: 100%;
	overflow: auto;
}
div.overview p {
    margin: 4px 0 0 0;
    padding: 0;
    font-size: 85%;
    color: #606060;
}
div.footer {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 80%;
}
a {
    font-weight: bold;
    color: #366D9C;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline;
}
li:after {
    content: ",";
}
li:last-child:after {
    content: "";
}
p {
    padding: 0;
    margin: 2px 0 2px 0;
}
div.clear {
    clearing: both;
}
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Series</title>
    </head>
    <body>
	    <div id="main">
			{% for entry in task.accepted|sort(attribute='series_episode')|sort(attribute='series_season')|sort(attribute='tvdb_series_name') %}
			{% if entry.imdb_url is defined %}
			<div class="movie">
				<div class="photo">
                    {% if entry.tvdb_poster_url  %}
                    <img src="{{ entry.tvdb_poster_url }}" width="138" height="203">
                    {% elif entry.trakt_series_poster_url is defined %}
                    <img src="{{ entry.trakt_series_poster_url }}" width="138" height="203">
                    {% else %}
                    <img src="http://slurm.trakt.us/images/banner.jpg" width="138" height="203">
                    {% endif %}
                </div>
	            <div class="content">
	                <div class="header">
						<div class="epid">
							{{ entry.series_season }}:{{ entry.series_episode }}
						</div>
						<div class="title">
							<a href="http://www.subtitleseeker.com/search/TV_EPISODES/{{ entry.title }}">
							{% if entry.tvdb_ep_name is defined %}
							{{ entry.tvdb_ep_name }}
							{% elif entry.trakt_ep_name is defined %}
							{{ entry.trakt_ep_name }}
							{% else %}
							Title unknown.
							{% endif %}
							</a>
							&nbsp;
							{% if entry.subtitles is defined and entry.subtitles is iterable %}
							{% if 'ita' in entry.subtitles %}
							<img src="http://www.geonames.org/flags/x/it.gif" />
							{% endif %}
							{% if 'eng' in entry.subtitles %}
							<img src="http://www.geonames.org/flags/x/gb.gif" />
							{% endif %}
							{% if 'und' in entry.subtitles %}
							<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/320px-Flag_of_Europe.svg.png" />
							{% endif %}
							{% endif %}
						</div>
	                </div>
	                <div class="overview">
                        {% if entry.tvdb_ep_overview is defined %}
                        {{ entry.tvdb_ep_overview }}
                        {% elif entry.trakt_ep_overview is defined %}
                        {{ entry.trakt_ep_overview }}
                        {% else %}
                        Plot unknown.
                        {% endif %}
						{% if entry.tvdb_ep_writers is defined and entry.tvdb_ep_writers is iterable %}
						<p><b>Written by:&nbsp;&nbsp;</b> {{ entry.tvdb_ep_writers|join(', ') }}</p>
						{% endif %}
						{% if entry.tvdb_ep_guest_stars is defined and entry.tvdb_ep_guest_stars is iterable %}
						<p><b>Guest star(s):&nbsp;&nbsp;</b> {{ entry.tvdb_ep_guest_stars|join(', ') }}</p>
						{% endif %}
	                </div>
	                <div class="footer">
						<a href="{{ entry.imdb_url }}" target="_blank">IMDB</a>
						{% if entry.tvdb_id is defined %}
						&nbsp;
						<a href="http://thetvdb.com/?tab=series&id={{ entry.tvdb_id }}" target="_blank">TVDB</a>
						{% endif %}
						{% if entry.trakt_series_tvrage_id is defined %}
						&nbsp;
						<a href="http://www.tvrage.com/shows/id-{{ entry.trakt_series_tvrage_id }}" target="_blank">TVRage</a>
						{% endif %}
						{% if entry.trakt_series_url is defined %}
						&nbsp;
						{% if entry.trakt_season is defined and entry.trakt_episode is defined %}
						<a href="{{ entry.trakt_series_url }}/season/{{ entry.trakt_season }}/episode/{{ entry.trakt_episode }}" target="_blank">Trakt</a>
						{% else %}
						<a href="{{ entry.trakt_series_url }}" target="_blank">Trakt</a>
						{% endif %}
						{% endif %}
	                </div>
	            </div>
	        </div>
	        {% endif %}
	        {% endfor %}
	    </div>
    </body>
</html>